body {
  margin: 0;
  background: linear-gradient(120deg, #092d39d8, #e7e7eb);
  font-family: Arial;
  color: rgb(12, 0, 0);
}

/* Center Items */
.auth-card {
  display: flex;
  /* Increased from 900px and 500px */
  width: 1100px; 
  height: 650px; 
  background: rgba(32, 1, 1, 0.1);
  backdrop-filter: blur(18px);
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Glass Card */
.auth-card {
  display: flex;
  width: 1100px;
  height: 500px;
  background: rgba(201, 183, 183, 0.1);
  backdrop-filter: blur(18px);
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.2);
}

/* Left Side */
.auth-left {
  width: 50%;
  padding: 40px;
}

/* Right Side */
.auth-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-illustration {
  width: 480px;
  height: 420px;
  object-fit: contain;   /* FIXED (not zooming) */
}

/* Text Inputs */
input {
  width: 100%;
  padding: 14px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.password-box {
  display: flex;
  align-items: center;
}

.show-btn {
  margin-left: 10px;
  padding: 8px 14px;
  background: #867d7d;
  color: white;
  border: none;
  border-radius: 6px;
}

/* Login Button */
.primary-btn {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  background: #2d2247;
  color: white;
  border: none;
  border-radius: 8px;
}

/* Remove Navbar From Login */
nav a {
  text-decoration: none;
}
:root {
  /* ===== MAIN THEME COLORS ===== */
  --bg-main: #0f172a;
  --bg-card: #1e293b;
  --bg-sidebar: #1f2937;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  --text-main: #0f0303;
  --text-muted: #151516;

  --border-color: #374151;
  --danger: #dc2626;
}


.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  color: #00070f;
  background: #9bc5e8;
  padding: 12px;
  text-align: left;
}

.table td {
  color: #00030a;
  padding: 12px;
}

.table tbody tr {
  background: #eeeeef;
}

.table tbody tr:hover {
  background: #2764be;
}

.table th,
.table td {
  border-bottom: 1px solid #374151;
}

