.users-page {
  padding: 40px;
  color: rgb(24, 1, 1);
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}

.sub-title {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #0f6269;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  overflow: hidden;
}

.user-table th,
.user-table td {
  padding: 12px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.user-table th {
  text-align: left;
  background: rgba(255, 255, 255, 0.1);
}

.user-table tr:hover {
  background: rgba(255, 255, 255, 0.08);
  cursor: pointer;
}
